<h1>New Game</h1>

<% @letters.each do |letter| %>
  <button type="button" class="btn btn-info mb-4 mx-1"><%= letter %></button>
<% end %>

<p>What is the longest word you can find?</p>

<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grid, @letters %>
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="word">
    <button class="btn btn-primary" type="submit">Play</button>
  </div>
</form>
